
<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production.min.css">

<div ng-init="loadDashboard();">

</div>

<div class="row">
    <div class="col-lg-6">
        <h3 class="page-title">Visualizações da aplicação</h3>              
        <div id="non-date-graph" class="chart no-padding" style="height: 150px !important"></div>
    </div>        

    <div class="col-lg-2" style="text-align: center;" >
        <h3 class="page-title">Utilizadores</h3>
    
        <div style="width: 100%;">
            <div style="margin-top: 57px;">
                <span id="utilizadores" style="font-weight: 700; font-size: 200% !important" class="txt-color-green"></span>
            </div>
        </div>
    </div>

    <div class="col-lg-2" style="text-align: center;">
           <h3 class="page-title">Escursões</h3>
        <div id="viagens" class="easy-pie-chart txt-color-blueLight easyPieChart" data-percent="24" data-pie-size="110">
            <span class="percent percent-sign txt-color-blueLight font-md"></span>
        </div>
    </div>

    <div class="col-lg-2" style="text-align: center;">
        <h3 class="page-title">Ocupação</h3>
        <div id="ocupacao" class="easy-pie-chart txt-color-redLight easyPieChart" data-percent="56" data-pie-size="110">
            <span class="percent percent-sign txt-color-redLight font-md"></span>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-lg-4">
        <h3 class="page-title"> Visão Global</h3>

        <table id="example" class="display projects-table table table-striped table-bordered table-hover">
            <thead>
                <tr>                     
                    <th><i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i> Localização</th>
                    <th title="Taxa de ocupação"><i class="fa fa-fw fa-taxi text-muted hidden-md hidden-sm hidden-xs"></i> Ocupação</th>
                    <th title="Visualizações | Comentários | Classificações"><i class="fa fa-fw fa-hand-pointer-o text-muted hidden-md hidden-sm hidden-xs"></i > VCC</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="getViagensByPais(viagem.pais)" ng-repeat="viagem in viagensGruped" style="cursor:pointer">
                    <td> {{ viagem.pais}}</td>
                    <td title="Taxa de ocupação">
                        <div class='progress progress-xs' data-progressbar-value='{{viagem.ocupacao}}'><div class='progress-bar'></div></div>
                    </td>                            
                    <td title="{{viagem.visualizacoes}} Visualizações | {{viagem.comentarios}} Comentários | {{viagem.classificacoes}} Classificacoes">{{viagem.visualizacoes}} | {{viagem.comentarios}} | {{viagem.classificacoes}}</td>
                </tr>
            </tbody>
        </table> 
    </div>

    <div id="detalheDiv" class="col-lg-8 hide">

        <h3 class="page-title"> Visão Por país</h3>

        <table id="example" class="display projects-table table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i> Data</th>
                    <th><i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i> Localização</th>
                    <th></th>
                    <th title="Taxa de ocupação"><i class="fa fa-fw fa-taxi text-muted hidden-md hidden-sm hidden-xs"></i> Ocupação</th>
                    <th title="Visualizações | Comentários | Classificações"><i class="fa fa-fw fa-hand-pointer-o text-muted hidden-md hidden-sm hidden-xs"></i > VCC</th>                    
                        <th><i class="fa fa-share-alt fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Publico-alvo</th>
                    <th><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Utilizador</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="viagem in viagens">
                    <td> {{ viagem.data | date : format : timezone}} </td>
                    <td> {{viagem.cidade}} </td>
                    <td>
                        <div class='project-members'><a href='javascript:void(0)'>
                            <a href='javascript:void(0)'><img src='{{ viagem.imagem }}' class='away'></a>
                        </div>
                    </td>
                    <td title="Taxa de ocupação">
                        <div ng-show="viagem._user.perfil != 1" class='progress progress-xs' data-progressbar-value='{{viagem.ocupacao}}'><div class='progress-bar'></div></div>
                    </td>
                    
                    <td title="{{viagem.visualizacoes}} Visualizações | {{viagem.comentarios}} Comentários | {{viagem.classificacoes}} Classificacoes">{{viagem.visualizacoes}} | {{viagem.comentarios}} | {{viagem.classificacoes}}</td>
                    <td title="{{viagem.partilhado ? 'Partilhada com: Público' : 'Partilhada com: Apenas eu'}}"><i class="fa fa-circle font-xs"  ng-class="viagem.partilhado ? 'txt-color-greenLight' : 'text-default'"></i></td>
                    <td>{{viagem.utilizador}}</span></td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>