<!-- <div ng-include="'views/gestao.html'" id="responsive" class="modal fade" tabindex="-1" data-width="660"></div> -->
<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production.min.css">

 <link href="../stylesheets/blog.css" rel="stylesheet" type="text/css" />    



<div id="modalViagem" class="modal fade" tabindex="-1" data-width="1024">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Detalhes Viagem</h4>
    </div>
  <div class="modal-body">
       
    <div class="form-group">
        <div class="form-group">
                <label class="control-label col-md-2">Período</label>
                <div class="col-md-8">
                    <div class="input-group input-medium date-picker input-daterange" data-date-format="dd-mm-yyyy">
                        <input ng-readonly="true" ng-model="dataInicio" type="text" class="form-control" name="from">
                        <span class="input-group-addon"> to </span>
                        <input ng-readonly="true" ng-model="dataFim" type="text" class="form-control" name="to"> 
                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-md-2">
                    <div >
                            <label class="input-group-addon"> Utilizador</label>
                            <input ng-readonly="true" ng-model="_user" type="text" class="form-control" name="nome"> 
                    </div>
                </div>
        </div>
            
           <div class="row"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <span class="input-group-addon"> Descrição </span>
                    <textarea ng-model="descricao" ng-readonly="true" class="form-control todo-taskbody-taskdesc" rows="9"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{ viagem.ficheiros.nome }}"  />
            </div>

            <div class="form-group ">
                <div class="col-md-12">
                       <div id="gmap_geocoding" class="gmaps"> </div>
                 </div>
            </div>
        
    </div>
  </div>
</div>

<div class="container-fluid" >
<div ng-init="getViagensAll(); " ng-show="currentUser" class="portlet-body">
 
</div>

<h1 class="page-title"> Gestão
</h1>

<div class="blog-page blog-content-1">
    <div class="row">

        <div simple-grid="GridGestao"></div>
    <table class="display projects-table table table-striped table-bordered table-hover">
                   
        <thead> 
            <tr>
             
                    <th style="width:30%">
                        Viagem
                    </th>
                    <th style="width:30%" >
                        Utilizador
                    </th>
                    <th style="width:30%">
                        Pública
                    </th>
                    <th style="width:30%">
                        Acções
                    </th>
                
        
            </tr>
        </thead>
        <tbody>   
                <tr ng-repeat="viagem in viagens">
                    
                <div class="col-md-4">
                    <td>
                        {{viagem.descricao}}
                    </td>
                </div>
                    <div class="col-md-4">  
                    <td >
                        {{viagem._user.nome}}  
                    </td>
                </div>
                    <div class="col-md-1"> 
                    <td>
                      <input type="checkbox" class="make-switch" data-on-text="&nbsp;Sim&nbsp;" data-off-text="&nbsp;Não&nbsp;" ng-checked="{{viagem.partilhado}}">                                                                
                    </td>
                </div>
                <div class="col-md-3"> 
                    <td>
                      
                            <div class="col-md-4">
                                 <div   style="cursor:pointer" ng-click="openModalViagem(viagem)" title="Info" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                     <i class="fa fa-info"></i><!--info-->
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div   style="cursor:pointer" title="Aprovar" ng-click="aprovarViagem(viagem)" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                     <i class="fa fa-check"></i> <!--check-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div   style="cursor:pointer" title="Remover" ng-click="removerViagem(viagem)" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                     <i class="fa fa-trash-o"></i>
                                </div>
                            </div>                               
                        
                    </td>
                </div>
                </tr>
        </tbody>      
    </table>
  
  </div>
</div>

</div>
