<div ng-include="'views/gestao.html'" id="responsive" class="modal fade" tabindex="-1" data-width="660"></div>


<div ng-init="getViagens();" ng-show="currentUser" class="portlet-body">
    <div class="row">
        <div  class="form-group">
            <div class="col-md-12">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="javascript:;">
                            <img class="todo-userpic" src="{{ currentUser.foto }}" width="27px" height="27px"> </a>
                        <div class="media-body">
                            <textarea ng-click="openModalViagem();" class="form-control todo-taskbody-taskdesc" rows="2" placeholder="onde vai ser a proxima viagem?" ></textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h1 class="page-title"> Gestão
</h1>

<div class="blog-page blog-content-1">
    <div class="row">

        <div> 
            <table class="table table-striped">
                <tr>
                    <th>
                        <td style="width:30%">
                            Viagem
                        </td>
                        <td style="width:30%">
                            Utilizador
                        </td>
                        <td style="width:30%">
                            Pública
                        </td>
                        <td style="width:10%">
                            Acções
                        </td>
                    </th>
            
                </tr>
               
               <!-- <div class="animate-repeat" ng-repeat="viagem in viagens | orderBy : '-dataInsercao'"> -->
                    <tr ng-repeat="viagem in viagens">
                        <td style="width:25%">
                            <span> {{viagem.descricao}}</span>   
                        </td>
                        <td style="width:25%">
                            <span> {{viagem._user}}</span>   
                        </td>
                        <td style="width:25%">
                            <span> {{viagem.partilhado}}</span>  
                        </td>
                        <td style="width:25%">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                     <div ng-show="isOwner(viagem.idUtilizador);" ng-click="(viagem);" style="cursor:pointer" title="Info" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                         <i class="fa fa-trash-o"></i><!--info-->
                                      </div>
                                </div>
                                <div class="col-md-4">
                                    <div ng-show="isOwner(viagem.idUtilizador);" ng-click="(viagem);" style="cursor:pointer" title="Aprovar" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                         <i class="fa fa-trash-o"></i> <!--check-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div ng-show="isOwner(viagem.idUtilizador);" ng-click="(viagem);" style="cursor:pointer" title="Remover" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                         <i class="fa fa-trash-o"></i>
                                    </div>
                                </div>                               
                            </div>
                        </td>
                    </tr>
               <!--  </div> -->



            </table>

        </div>
    

  </div>
</div>


