<!-- <div ng-include="'views/gestao.html'" id="responsive" class="modal fade" tabindex="-1" data-width="660"></div> -->
<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production.min.css">

 <link href="../stylesheets/blog.css" rel="stylesheet" type="text/css" />    



 <div id="modalViagem" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Visualizar Viagem</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form action="#" class="form-horizontal form-bordered">
                    <div class="form form-body">                        
                        <div class="form-group">

                            <label class="control-label col-md-2">Período</label>
                            <div class="col-md-4">
                                <div class="input-group input-medium date-picker input-daterange" data-date-format="dd-mm-yyyy">
                                    <input ng-readonly="true" ng-model="viagemView.dataInicio" type="text" class="form-control" name="from">
                                    <span class="input-group-addon"> to </span>
                                    <input ng-readonly="true" ng-model="viagemView.dataFim" type="text" class="form-control" name="to"> </div>
                            </div>
                                
                            <label class="control-label col-md-2">Utilizador</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input ng-readonly="true" ng-model="viagemView._user.nome" type="text" class="form-control" name="Utilizador">
                                </div>
                            </div>                            
                        </div>

                        
                    
                        <div class="form-group">
                            <div class="col-md-6">
                                <div ng-show ="viagemView._user.perfil > 0" >
                                    <span class="input-group-addon"> Máximo Inscriçõess </span>
                                    <input ng-model="viagemView.maxIncricoes"  class="form-control"> 
                                </div>
                            </div>  
                            <div class="col-md-6">
                                <div ng-show ="viagemView._user.perfil > 0" >
                                    <span class="input-group-addon"> Preço </span>
                                    <input ng-model="viagemView.preco"  class="form-control"> 
                                </div>
                            </div>  
                        </div> 
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea ng-model="viagemView.descricao" class="form-control todo-taskbody-taskdesc" rows="9" placeholder="Descrição..."></textarea>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-md-6">
                                <div class="fileinput-preview thumbnail">
                                    <img src="viagemView.ficheiros.nome">
                                    
                                </div>
                            </div>
                        </div>   
                        <div class="form-group ">
                            <div class="col-md-12">
                                <div id="gmap_geocoding" class="gmaps"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">            
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Fechar <i class="fa fa-remove"></i></button>
    </div>
</div>
 
<div ng-init="getViagensAll(); " ng-show="currentUser" class="portlet-body">

<h1 class="page-title"> Gestão</h1>

    <div class="blog-page blog-content-1">
        <div class="row" style="height: 450px; overflow: scroll;" >

            
            <table class="display projects-table table table-striped table-bordered table-hover">
                        
                <thead> 
                    <tr>             
                        <th style="width:30%">
                            Viagem
                        </th>
                        <th style="width:30%" >
                            Utilizador
                        </th>
                        <th style="width:30%">
                            Pública
                        </th>
                        <th style="width:30%">
                            Acções
                        </th>
                    </tr>
                </thead>
                <tbody>   
                    <tr ng-repeat="viagem in viagens">
                        
                            <td>
                                {{viagem.descricao}}
                            </td>
                        
                        
                            <td >
                                {{viagem._user.nome}}  
                            </td>
                        
                        
                            <td>
                            <input type="checkbox" class="make-switch" data-on-text="&nbsp;Sim&nbsp;" data-off-text="&nbsp;Não&nbsp;" ng-checked="{{viagem.partilhado}}">                                                                
                            </td>
                        
                            <td>
                                <div class="col-md-4">
                                        <div   style="cursor:pointer" ng-click="openModalViagem(viagem.id)" title="Info" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                            <i class="fa fa-info"></i><!--info-->
                                        </div>
                                </div>
                                <div class="col-md-4">
                                    <div   style="cursor:pointer" title="Aprovar" ng-click="aprovarViagem(viagem.id)" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                            <i class="fa fa-check"></i> <!--check-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div   style="cursor:pointer" title="Remover" ng-click="removerViagem(viagem.id)" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                            <i class="fa fa-trash-o"></i>
                                    </div>
                                </div>    
                            </td>
                        </tr>
                </tbody>      
            </table>    
        </div>
    </div>

</div>
