<script>
    $('.register-form').css('display', 'block');
</script>
<link href="../stylesheets/login.css" rel="stylesheet" type="text/css" />
<script src="../scripts/login.js"></script>    
<div class="row" style="background-image:url('../img/trip2.jpg'); background-repeat:no-repeat; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; background-position:center;     margin: -25px -20px -10px;">

    <div class="col-md-6"></div>

    <div class="col-md-6">
<div class=" login">

    <!-- BEGIN LOGO -->
    <div class="logo">
        <a>
            <img style="width: 315px;" src="img/tripstogether.png" alt="" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">        
        <!-- BEGIN REGISTRATION FORM -->
        <form name="form" class="register-form" ng-submit="register()" role="form">
            <h3 class="form-title font-green">Registo </h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any password. </span>
            </div>

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->                
                <label for="nome" class="control-label visible-ie8 visible-ie9">Nome</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" 
                       id="nome" autocomplete="off" placeholder="Nome" ng-model="nome" /> </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->                
                <label for="email" class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" 
                       id="email" autocomplete="off" placeholder="Email" ng-model="email" /> </div>
            <div class="form-group">
                <label for="password" class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" 
                       id="password" autocomplete="off" placeholder="Password" ng-model="password" /> </div>
            <div class="form-group">
                <label for="rpassword" class="control-label visible-ie8 visible-ie9">Repetir a Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" 
                       id="rpassword" autocomplete="off" placeholder="Repetir a Password" ng-model="rpassword" /> </div>
            <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->                
            <label for="perfil" class="control-label visible-ie8 visible-ie9">perfil</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="number" 
                    id="perfil" autocomplete="off" placeholder="perfil" ng-model="perfil" /> </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase">Registar</button>   
            </div>
        </form>

        <!-- END REGISTRATION FORM -->
    </div>
</div>
</div>