<div ng-include="'views/comentarios.html'" id="responsive" class="modal fade" tabindex="-1" data-width="660"></div>

<div id="modalAddViagem" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Adicionar Viagem</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <form action="#" class="form-horizontal form-bordered">
                    <div class="form form-body">                        
                        <div class="form-group">
                            <label class="control-label col-md-2">Período</label>
                            <div class="col-md-6">
                                <div class="input-group input-medium date-picker input-daterange" data-date-format="dd-mm-yyyy">
                                    <input ng-readonly="true" ng-model="dataInicio" type="text" class="form-control" name="from">
                                    <span class="input-group-addon"> to </span>
                                    <input ng-readonly="true" ng-model="dataFim" type="text" class="form-control" name="to"> </div>
                                <!-- /input-group -->
                            </div>

                             <!--ng-if="viagem._user.perfil > 0"-->
                           
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <input type="text" class="make-switch" data-on-text="&nbsp;Publica&nbsp;" data-off-text="&nbsp;Privada&nbsp;">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                                <div class="col-md-6">
                                    <div ng-show ="perfil > 0" >
                                        <span class="input-group-addon"> Max Inscricoes </span>
                                        <input ng-model="maxIncricoes"  class="form-control"> 
                                    </div>
                                </div>  
                                <div class="col-md-6">
                                    <div ng-show ="perfil > 0" >
                                        <span class="input-group-addon"> preco </span>
                                        <input ng-model="preco"  class="form-control"> 
                                    </div>
                                </div>  
                        </div> 
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea ng-model="descricao" class="form-control todo-taskbody-taskdesc" rows="9" placeholder="Descrição..."></textarea>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-md-4">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"> </div>
                                    <div>
                                        <span class="btn red btn-outline btn-file">
                                            <span class="fileinput-new"> Escolher imagem </span>
                                            <span class="fileinput-exists"> Alterar </span>
                                            <input ng-file="image" type="file" name="file" accept="image/x-png,image/gif,image/jpeg" > </span>
                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remover </a>
                                    </div>
                                </div>
                            </div>
                        </div>   

                        <div class="form-group ">
                            <div class="col-md-12">
                                <div class="row" style="padding-top: 5px; background-color: #eee" > 
                                    <figure class="icons">
                                        <div ng-repeat="temp in temperatura | limitTo: 6" class="col-md-2" style="text-align: center;">
                                            <canvas class="{{temp.icon}}" width="40" height="40">
                                            </canvas>
                                        </div>
                                    </figure>
                                </div>
                                <div class="row" style="margin-bottom: 10px; padding-top: 5px; background-color: #eee">
                                    <div ng-repeat="temp in temperatura | limitTo: 6" class="col-md-2" style="text-align: center;">
                                        <span class="itemWeather">{{temp.temperatureMin}}ºC - {{temp.temperatureMax}}ºC</span><br>
                                        <span class="summaryWeather">{{temp.summary}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="gmap_geocoding_address" placeholder="Pesquisa...">
                                        <span class="input-group-btn">
                                            <button class="btn blue" id="gmap_geocoding_btn">
                                                <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                <div id="gmap_geocoding" class="gmaps"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="insertViagem();" type="button" data-dismiss="modal" class="btn btn-outline green" >Gravar <i class="fa fa-save"></i></button>
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Fechar <i class="fa fa-remove"></i></button>
    </div>
</div>

<div ng-init="getViagens();" ng-show="currentUser" class="portlet-body">
    <div class="row">
        <div  class="form-group">
            <div class="col-md-12">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="javascript:;">
                            <img ng-show="currentUser.foto" class="todo-userpic" src="{{ currentUser.foto }}" width="27px" height="27px"> </a>
                        <div class="media-body">
                            <textarea ng-click="openModalViagem();" class="form-control todo-taskbody-taskdesc" rows="2" placeholder="onde vai ser a proxima viagem?" ></textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h1 class="page-title"> Viagens
</h1>

<div class="blog-page blog-content-1">
    <div class="row">
    <link href="../stylesheets/blog.css" rel="stylesheet" type="text/css" />    
        <div class="animate-repeat" ng-repeat="viagem in viagens | orderBy : '-dataInsercao'">
            <div class="col-lg-6">
                <div class="mt-element-ribbon blog-post-lg bordered blog-container">         
                    <div class="blog-img-thumb">                                 
                         <div class="ribbon ribbon-vertical-left" style="background-color:transparent; margin: 30px 0 0 10px;">
                            <a href="#!/profile?id={{viagem._user.id}}">
                                <img ng-show="viagem._user.foto"  style="-webkit-border-radius: 50%!important; width: 50px;" title="{{viagem._user.nome}}" src="{{viagem._user.foto}}" />
                            </a>
                        </div>                        
                        <div ng-show="isOwner(viagem.idUtilizador);" ng-click="removerViagem(viagem);" style="cursor:pointer" title="Remover" class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                            <i class="fa fa-trash-o"></i>
                        </div>
                        <div ng-show="isOwner(viagem.idUtilizador);" ng-click="partilharViagem(viagem);" style="cursor:pointer" title="Partilhar"
                         class="ribbon ribbon-vertical-right uppercase" ng-class="{ 'ribbon-color-warning': viagem.partilhado }">
                            <i class="fa fa-share-alt"></i>
                        </div>
                        <!-- <div ng-if="viagem._user.perfil > 0" id="incritoViagem" ng-show="isOwner(viagem.idUtilizador);" ng-click="increveViagem(viagem);" style="cursor:pointer" title="Inscrever"
                         class="ribbon ribbon-vertical-right uppercase" >
                            <i class="fa fa-pencil-square-o"></i>
                        </div> -->
                        <div ng-click="openMomentos(viagem);">
                            <a href="javascript:;">
                                <img src="{{ viagem.ficheiros.nome }}" />
                            </a>
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h2 class="blog-title blog-post-title">
                            <a href="javascript:;">{{ viagem.pais }}</a> <small>{{ viagem.cidade }}</small>
                            
                        </h2>
                        
                        <p class="blog-post-desc">
                            {{ viagem.descricao }}
                        </p>
                        <div class="blog-post-foot">     
                            <div  ng-click="classifica(1, viagem);">
                                <a id="class1" href="javascript:;" class="pull-left" style="margin-left: 10px;" title="Já fui muito feliz aqui!">
                                    <i style="font-size: x-large;" class="fa fa-plane"></i>
                                </a>
                                <a style="text-decoration: none; margin-left: 5px;" class="pull-left" href="javascript:;">{{ viagem.sumClass1 }}</a>
                            </div>
                            <div  ng-click="classifica(2, viagem);">
                                <a id="class2" href="javascript:;" class="pull-left" style="margin-left: 10px;" title="Nunca tinha experimentado, estou maravilhado!">
                                    <i style="font-size: x-large;" class="fa fa-thumbs-up"></i>
                                </a>
                                <a style="text-decoration: none; margin-left: 5px;" class="pull-left" href="javascript:;">{{ viagem.sumClass2 }}</a>
                            </div>
                            <div ng-click="classifica(3, viagem);">
                                <a id="class3" href="javascript:;" class="pull-left" style="margin-left: 10px;" title="Este vai direto para a minha bucket list!">
                                    <i style="font-size: x-large;" class="fa fa-th-list"></i>
                                </a>
                                <a style="text-decoration: none; margin-left: 5px;" ng-style="{ 'color: #b77433': viagem.partilhado }"
                                class="pull-left" href="javascript:;">{{ viagem.sumClass3 }}</a>
                            </div>
                            

                            <div class="blog-post-meta">
                                <i class="icon-calendar font-blue"></i>
                                <a href="javascript:;">{{ viagem.dataInicio | date : format : timezone}}</a>
                                <i class="icon-calendar font-blue"></i>
                                <a href="javascript:;">{{ viagem.dataFim | date : format : timezone}}</a>
                            </div>
                            <div class="blog-post-meta">
                                <i class="icon-bubble font-blue"></i>
                                <a ng-click="viewCommentsViagens(viagem);" href="javascript:;">{{viagem.sumComentarios}} Comentários</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>


